@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
  :root {
    --background: theme('colors.white');
    --foreground: theme('colors.neutral.950');
    --card: theme('colors.white');
    --card-foreground: theme('colors.neutral.950');
    --popover: theme('colors.white');
    --popover-foreground: theme('colors.neutral.950');
    --primary: theme('colors.neutral.900');
    --primary-foreground: theme('colors.neutral.50');
    --secondary: theme('colors.neutral.100');
    --secondary-foreground: theme('colors.neutral.900');
    --muted: theme('colors.neutral.100');
    --muted-foreground: theme('colors.neutral.500');
    --accent: theme('colors.neutral.100');
    --accent-foreground: theme('colors.neutral.900');
    --destructive: theme('colors.red.500');
    --destructive-foreground: theme('colors.neutral.50');
    --border: theme('colors.neutral.200');
    --input: theme('colors.neutral.200');
    --ring: theme('colors.neutral.950');
    --chart-1: theme('colors.orange.500');
    --chart-2: theme('colors.teal.600');
    --chart-3: theme('colors.blue.900');
    --chart-4: theme('colors.yellow.400');
    --chart-5: theme('colors.orange.400');
    --radius: 0.5rem;
    --sidebar-background: theme('colors.neutral.50');
    --sidebar-foreground: theme('colors.neutral.600');
    --sidebar-primary: theme('colors.neutral.900');
    --sidebar-primary-foreground: theme('colors.neutral.50');
    --sidebar-accent: theme('colors.neutral.100');
    --sidebar-accent-foreground: theme('colors.neutral.700');
    --sidebar-border: theme('colors.neutral.200');
    --sidebar-ring: theme('colors.blue.500');
  }

  .dark {
    --background: theme('colors.neutral.950');
    --foreground: theme('colors.neutral.50');
    --card: theme('colors.neutral.950');
    --card-foreground: theme('colors.neutral.50');
    --popover: theme('colors.neutral.950');
    --popover-foreground: theme('colors.neutral.50');
    --primary: theme('colors.neutral.50');
    --primary-foreground: theme('colors.neutral.900');
    --secondary: theme('colors.neutral.800');
    --secondary-foreground: theme('colors.neutral.50');
    --muted: theme('colors.neutral.900');
    --muted-foreground: theme('colors.neutral.400');
    --accent: theme('colors.neutral.800');
    --accent-foreground: theme('colors.neutral.50');
    --destructive: theme('colors.red.500');
    --destructive-foreground: theme('colors.neutral.50');
    --border: theme('colors.neutral.800');
    --input: theme('colors.neutral.800');
    --ring: theme('colors.neutral.200');
    --chart-1: theme('colors.blue.500');
    --chart-2: theme('colors.teal.500');
    --chart-3: theme('colors.orange.500');
    --chart-4: theme('colors.purple.500');
    --chart-5: theme('colors.pink.500');
    --sidebar-background: theme('colors.neutral.900');
    --sidebar-foreground: theme('colors.neutral.100');
    --sidebar-primary: theme('colors.white');
    --sidebar-primary-foreground: theme('colors.white');
    --sidebar-accent: theme('colors.neutral.800');
    --sidebar-accent-foreground: theme('colors.neutral.100');
    --sidebar-border: theme('colors.neutral.800');
    --sidebar-ring: theme('colors.blue.500');
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
